@import "./fonts.scss";
.container{
	border: 1px solid grey;
	padding:15px;
	cursor: pointer;
	border-radius: 12px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	gap:12px;
}
.text{
	width: 100%;
	word-wrap: break-word;
}
.tagsContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap:12px;
}
.tags{
	color: aliceblue;
	display: flex;
	border-radius: 12px;
	align-items: center;
	padding: 5px 10px;
	background-color: rgba(100, 64, 199, 0.721);
}
@media (max-width: $breakpoint-tablet) {
	.container{
		display: flex;
		flex-direction: column;
		gap:12px;
	}
}